{% set pagetitle = 'Log peek'|trans %}
{% extends "base.twig" %}

{% block content %}
    <link rel="stylesheet" href="{{ asset("css/default.css", 'logpeek') }}">

    <h2>{{ 'SimpleSAMLphp logs (admin utility)' | trans }} </h2>

    {% if error!='' %}
        <div class="alert alert-danger">{{ error|trans }}</div>
    {% endif %}
    {% if authorized %}
        <form method="get" action="?">
            <table class="table table-striped">
                <tr>
                    <th><label for="file">{{ 'Logfile' | trans }}</label></th>
                    <td id="logf">{{ logfile }}</td>
                </tr>
                <tr>
                    <th><label for="start">{{ 'First entry in logfile' | trans }}</label></th>
                    <td id="star">{{ timestart | format_datetime('short', 'short', locale=currentLanguage) }}</td>
                </tr>
                <tr>
                    <th><label for="end">{{ 'Last entry in logfile' | trans }}</label></th>
                    <td id="end">{{ endtime | format_datetime('short', 'short', locale=currentLanguage) }}</td>
                </tr>
                <tr>
                    <th><label for="size">{{ 'Logfile size' | trans }}</label></th>
                    <td id="size">{{ filesize }} </td>
                </tr>
                <tr>
                    <th><label for="tag">{{ 'Tag id for search' | trans }}</label></th>
                    <td><input type="text" name="tag" id="tag" value="{{ trackid }}"/></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input type="submit" class="btn btn-primary" value="{{ 'Search log' | trans }}"/>
                        {% if backUrl != '' %}
                            <button type="button" class="btn btn-dark"><a href="{{ backUrl }}">{{ 'Back'|trans }}</a>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>

        <pre class="logpeek-content">{% for index, line in results %}{{ line|escape('html') }}
{% endfor %}</pre>
    {% else %}
        {% if backUrl != '' %}
            <button type="button"><a href="{{ backUrl }}" class="button">{{ 'Back'|trans }}</a></button>
        {% endif %}
    {% endif %}
{% endblock %}
